.App {
  text-align: center;
}
.ant-layout-header{
  background:#fff;
  padding: 0;
}

#components-layout-demo-side .logo {
  height: 40px;
  margin:13px;
  color:#fff;
  font-size: 20px;
  display: flex;
}

.logo .logo-img{
  margin:0 0 0 10px;
  vertical-align: middle;
}

.logo .logo-text{
  font-weight: 600;
  display: inline-block;
  margin:0 0 0 10px;
  vertical-align: middle
}
